<div class="cover-container d-flex h-100 w-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">Upload File Example</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link" aria-current="page" href="/">Home</a>
        <a class="nav-link active" aria-current="page" href="/gallery">Gallery</a>
      </nav>
    </div>
  </header>

  <main>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Gallery example</h1>
        </div>
      </div>
    </section>

    {{#if fileArr}}

    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">

            {{#each fileArr}}
            <div class="card shadow-sm">

              <img src="{{this.src}}">

              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
            {{/each}}

          </div>
        </div>
      </div>
    </div>

    {{else}}

    <p class="lead text-muted">Images not loaded</p>

    {{/if}}

  </main>

  <footer class="mt-auto text-white-50">
    <span>
      <a href="https://github.com/Zzaaf/Upload-File-Example" target="_blank">
        <i class="bi bi-github"></i>
      </a>
    </span>
  </footer>
</div>