<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">Upload File Example</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/gallery">Gallery</a>
      </nav>
    </div>
  </header>

  <main class="px-3">
    <p class="lead">Use this example to upload files to the server</p>

    <form class="m-5" action="/" method="post" enctype="multipart/form-data">
      <input type="file" name="image" />
      <button type="submit" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Upload file</button>
    </form>

  </main>

  <footer class="mt-auto text-white-50">
    <span>
      <a href="https://github.com/Zzaaf/Upload-File-Example" target="_blank">
        <i class="bi bi-github"></i>
      </a>
    </span>
  </footer>
</div>